{
  "extends": "eslint:recommended",
  "env": {
    "browser": false,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "script"
  },
  "rules": {
    "max-len": ["error", {
      "code": 140,
      "tabWidth": 2,
      "comments": 140,
      "ignoreUrls": true
    }
    ],
    "keyword-spacing": 2,
    "indent": [
      2,
      2,
      {
        "VariableDeclarator": {
          "var": 2,
          "let": 2,
          "const": 3
        },
        "SwitchCase": 1
      }
    ],
    "semi": [2, "always"],
    "no-console": 0,
    "space-before-blocks": 2,
    "quotes": [2, "single"],
    "space-infix-ops": 2,
    "comma-dangle": ["error", "only-multiline"],
    "strict": ["error", "global"],
    "curly": ["error", "all"],
    "no-var": "error"
  }
}